<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Electricity Emissions: <%- details.ElectricityEmissions %></h3>
    <h3>Transportation Emissions: <%- details.TransportationEmissions %></h3>
    <h3>Air-Travel Emissions of ShortHaul: <%- details.AirTravelEmissionsShortHaul %></h3>
    <h3>Air-Travel Emissions of MediumHaul: <%- details.AirTravelEmissionsMediumHaul %></h3>
    <h3>Air-Travel Emissions of LongHaul: <%- details.AirTravelEmissionsLongHaul %></h3>
    <h3>Total Air-Travel Emissions: <%- details.TotalAirTravelEmissions %></h3>
    <h3>Yearly Electricity Emissions: <%- details.YearlyElectricityEmissions %></h3>
    <h3>Yearly Transportation Emissions: <%- details.YearlyTransportationEmissions %></h3>
    <h3>Dietary Choice Emissions: <%- details.DietaryChoiceEmissions %></h3>
    <h3>Total Yearly Emissions: <%- details.TotalYearlyEmissions %></h3>
    <h3>Message: <%- details.Message %></h3>
</body>
</html>