<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
    </style>
</head>
<body>

    <%- include('navbar') %>

    <div>
      <h2>Your Previous Calculations</h2>
      <% history.forEach(emission => { %>
        <a href="details/<%= emission.id %>">
          <h4>Date: <%= emission.Date %> , Time: <%= emission.Time %></h4>
          <li>Carbon FootPrint: <%= emission.TotalYearlyEmissions %></li>  
        </a>
        <hr>
      <% }) %>
    </div>  

</body>
</html>
